.smooth-transition {
    transition: background-color 0.3s ease;
    height: 100vh;
  }
  
  /* Define the different background colors for different difficulties */
  .bg-master {
    background-color: #3d1212; /* Replace with your first color */
  }
  
  .bg-hard {
    background-color: #552e1f; /* Replace with your second color */
  }
  
  .bg-medium {
    background-color: #172538; /* Replace with your third color */
  }
  
  .bg-easy {
    background-color: #23421c; /* Replace with your fourth color */
  }