.smooth-transition {
    transition: background-color 0.3s ease;
    height: 140vh;
  }
  
  .bg-master {
    background-color: #3d1212;
  }
  
  .bg-hard {
    background-color: #552e1f;
  }
  
  .bg-medium {
    background-color: #172538;
  }
  
  .bg-easy {
    background-color: #23421c;
  }